::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.75);
    border-radius: 3px;
}

.btn {
    white-space: nowrap;
}

.btn img {
    margin-top: -4px;
    filter: invert(100%);
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.05);
    #box-shadow: 0 0 10px rgba(0,0,0,0.35);
    z-index: 1;
}

.navbar .version {
    position: fixed;
    display: inline-block;
    font-size: 11px;
    font-family: Verdana;
    top: 44px;
    text-align: center;
    width: 200px;
    opacity: 0.75;
}

.navbar .btn {
    margin: 0;
    margin-right: 0.5rem;
}

.navbar .logo {
    display: inline-block;
    font-weight: bold;
    font-size: 170%;
    width: 230px;
    height: 3rem;
    text-align: center;
    margin-left: -1rem;
    line-height: 3rem;
    overflow: hidden;
    transition-duration: 0.25s;
}

.navbar .logo-mini {
    display: none;
}

.navbar-down-menu {
    margin-left: 1rem;
    margin-right: 1.5rem;
    white-space: nowrap;
}

.navbar-top-menu {
    display: flex; 
    flex-grow: 1; 
    align-items: center;
    height: 47px;
    position: fixed;
    left: 490px;
    transition-duration: 0.25s;
}

.navbar-top-menu-tab {
    margin-bottom: -1.5rem; 
    border-bottom: 1px solid #ffffff;
}

.navbar-top-menu-tab .nav-link {
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-top-menu-tab .nav-link:hover {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-top-menu-tab .nav-link.active {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 0px;
}

.navbar-page {
    background-color: #ffffff;
    z-index: auto;
}

.navbar-page-group {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 0px 1rem;
}

.navbar-page-group * {
    margin-right: 1rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.main-left-panel {
    display: flex;
    flex-direction: column;
    width: 230px;
    min-width: 230px;
    #box-shadow: 0 0 10px rgba(0,0,0,0.35);
    background-color: rgba(0,0,0,0.05);
    transition-duration: 0.25s;
}

.main-left-panel-container {
    flex-grow: 1;
    border-right: 1px solid rgba(0,0,0,.125);
    overflow-x: hidden; 
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.main-left-panel-container > .list-group {
    position: relative;
    margin-right: -1px;
    width: 230px;
    margin-bottom: 20px;
    transition-duration: 0.25s;
}

.main-left-panel-container .list-group-item.active img {
    filter: invert(100%);
}

.main-left-panel-container .label {
    flex-grow: 1;
    text-aligh: left;
    margin-left: 1rem;
}

.body-container.main-menu-collapse .navbar .version {
    display: none;
}

.body-container.main-menu-collapse .logo {
    width: 60px;
    color: rgba(0,0,0,0);
    transition-duration: 0.25s;
}

.body-container.main-menu-collapse .logo-mini {
    display: inline-block;
    margin-left: -54px;
    margin-right: 17px;
    font-size: 22px;
    font-weight: bold;
}

.body-container.main-menu-collapse .navbar .navbar-down-menu {
    margin-left: 4px;
}

.navbar.navbar-with-tabs {
    flex-wrap: nowrap;
    #overflow: hidden;
}

.body-container.main-menu-collapse .navbar-top-menu {
    left: 310px;
}

.body-container.main-menu-collapse .main-left-panel {
    width: 50px;
    min-width: 50px;
    transition-duration: 0.25s;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item {
    padding: 1rem;
}

.body-container.main-menu-collapse .main-left-panel-container .label {
    display: none;
}

.body-container.main-menu-collapse .main-left-panel-container .badge {
    display: none;
}

.body-container.main-menu-collapse .main-left-panel-container > .list-group {
    width: 50px;
    transition-duration: 0.25s;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item:hover {
    z-index: 2;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item:hover .label {
    display: inline-block;
    position: fixed;
    left: 33px;
    background-color: #ffffff;
    padding: 12px 1.5rem;
    padding-left: 0px;
    border: 1px solid rgba(0,0,0,.125);
    border-left: none;
    background-color: #f8f9fa;
    width: 160px;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item:active .label {
    background-color: #e9ecef;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item.active:hover .label {
    background-color: #007bff;
}

.body-container.main-menu-collapse .main-left-panel-container .list-group-item:hover .badge {
    display: inline-block;
    position: fixed;
    right: calc(100% - 190px);
}


.body-content-log {
    display: none;
    border-left: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
    padding: 0.5rem 1rem;
    width: 0px;
}

.body-container.show-log .body-content-log {
    display: inline-block;
    width: 370px;
    min-width: 370px;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.main-content .content-body {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.table {
    display: inline-table;
    margin: 1rem;
    width: auto;
}

.table.table-scroll-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top: 1rem solid #ffffff;
    margin-top: 0px;
}

.table thead {
    background-color: #ffffff;
}

.table thead tr {
    background-color: rgba(0, 0, 0, 0.05);
}

.table thead th,
.table tbody th {
    text-align: center;
    padding: 0px;
    line-height: 1.2rem;
    vertical-align: middle;
    margin: 0.5rem;
}

.table thead th {
    border-bottom-width: 1px;
}

.table thead th > span {
    display: block;
    padding: 0.5rem;
}

.table td {
    text-align: center;
    padding: 0.5rem;
    line-height: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
}

.table td a {
    margin-top: -0.4rem;
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.table td.nowrap {
    white-space: nowrap;
}

tr.table-empty {
    
}

tr.table-empty td {
    cursor: default;
    padding: 1.5rem;
    font-weight: bold;
}

tr.table-empty:hover td {
    background-color: #ffffff;
}

.row-with-events td {
    background-color: rgba(255, 255, 0, 0.125);
}

.row-with-ow-lost td {
    background-color: rgba(0, 0, 0, 0.125);
}

.main-right-panel {
    overflow: hidden;
}

.log-row {
    display: flex;
    flex-direction: row;
}

.log-time {
    padding-right: 0.25rem;
}

.log-text {
    
}

#showLog {
    display: inline-block;
}

#hideLog {
    display: none;
}

.body-container.show-log #showLog {
    display: none;
}

.body-container.show-log #hideLog {
    display: inline-block;
}

.tree {
    background-color: #ffffff!important;
    overflow: auto;
    padding: 1rem;
}

.tree-item {
    display: flex;
    align-items: center;
    padding: 0.45rem 0.25rem;
    border-radius: 5px;
    color: #212529;
    padding-left: 1rem;
    padding-bottom: 0.55rem;
    line-height: 1.1rem;
    white-space: nowrap;
}

.tree-item:hover,
.tree-item.hover {
    background-color: rgba(0,0,0,0.075);
    text-decoration: none;
}

.tree-item.hover {
    transition-duration: 0.25s;
}

.tree-item.active {
    background-color: rgba(0, 0, 0, 0.15);
    color: #000000;
}

.tree-item-path {
    display: inline-block;
    width: 16px;
    height: 33px;
    line-height: 0px;
    margin-top: -0.45rem;
    margin-bottom: -0.55rem;
    margin-right: 4px;
    margin-left: -4px;
    opacity: 0.5;
}

.tree-item-path.tree-item-path-1 {
    background-image: url('/img/tree/1.png');
}

.tree-item-path.tree-item-path-2 {
    background-image: url('/img/tree/2.png');
}

.tree-item-path.tree-item-path-3 {
    background-image: url('/img/tree/3.png');
}

.tree-item-path.tree-item-path-4 {
    background-image: url('/img/tree/4.png');
}

.code-keyword {
    font-weight: bold;
    color: #0000ff;
}

.dropdown-menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.list-group-item.active .badge-pill {
    border: 1.5px solid #ffffff;
    margin-right: -1.5px;
}

.list-group-item .warning {
    position: relative;
    font-size: 0px;
    line-height: 0px;
}

.list-group-item .warning:after {
    position: absolute;
    width: 0px;
    line-height: 0px;
    top: 0rem;
    left: 0.45rem;
    display: inline-block;
    content: '!';
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--primary);
}

.list-group-item.active .warning:after {
    color: #ffffff;
}

.tree-item .badge-pill {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.plan-parts-content {
    position: relative;
    display: inline-block;
}

.plan-part {
    position: absolute;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
}

.plan-part > span {
    position: absolute;
    display: inline-block;
}

.plan-part.background {
    background-color: #ffffff;
}

.plan-part.pen {
    background-color: #000000;
}

.plan-part.pen > span {
    color: #ffffff;
}

.plan-part.diagonal-left {
    background-color: #ffffff;
    background-image: url('/img/plan/bg/diagonal_l.png');
}

.plan-part.diagonal-right {
    background-color: #ffffff;
    background-image: url('/img/plan/bg/diagonal_r.png');
}

.plan-part.cross {
    background-color: #ffffff;
    background-image: url('/img/plan/bg/cross.png');
}

.plan-part.background:hover,
.plan-part.background.hover {
    background-color: #eeeeee;
}

.plan-part.pen:hover,
.plan-part.pen.hover {
    background-color: #222222;
}

.plan-part.diagonal-left:hover,
.plan-part.diagonal-left.hover,
.plan-part.diagonal-right:hover,
.plan-part.diagonal-right.hover,
.plan-part.cross:hover,
.plan-part.cross.hover {
    background-color: #eeeeee;
}

.plan-port {
    position: absolute;
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.85);
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0.75;
}

.plan-port:hover {
    background-color: #eeeeee;
}

.plan-device {
    position: absolute;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.75;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.plan-device:hover {
    opacity: 1;
    background-color: #eeee00;
}

.plan-device.dev-1 {
    background-image: url('/img/plan/devices/dev_light.svg');
}

.plan-device.dev-2 {
    background-image: url('/img/plan/devices/dev_switch.svg');
}

.plan-device.dev-3 {
    background-image: url('/img/plan/devices/dev_socket.svg');
}

.plan-device.dev-4 {
    background-image: url('/img/plan/devices/dev_termometr.svg');
}

.plan-device.dev-5 {
    background-image: url('/img/plan/devices/dev_termostat.svg');
}

.plan-device.dev-6 {
    background-image: url('/img/plan/devices/dev_videcam.svg');
}

.plan-device.dev-7 {
    background-image: url('/img/plan/devices/dev_venting.svg');
}

.plan-device.dev-8 {
    background-image: url('/img/plan/devices/dev_motion.svg');
}

.plan-device.dev-9 {
    background-image: url('/img/plan/devices/dev_leakage.svg');
}

.plan-device.dev-10 {
    background-image: url('/img/plan/devices/dev_humidity.svg');
}

.plan-device.dev-11 {
    background-image: url('/img/plan/devices/dev_co.svg');
}

.plan-device.dev-12 {
    background-image: url('/img/plan/devices/dev_door.svg');
}

.plan-device.dev-13 {
    background-image: url('/img/plan/devices/dev_atm_pressure.svg');
}

.plan-device.dev-14 {
    background-image: url('/img/plan/devices/dev_currency.svg');
}

option:disabled {
    color: #dddddd;
}

.content-body.codeedit {
    display: flex; 
    padding: 0;
}

.codeedit .numbers {
    width: 60px;
    border-right: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0,0,0,0.0125);
    padding: 1rem;
    padding-right: 0.5rem;
    text-align: right;
    font-family: 'Courier New';
}

.codeedit .codetext {
    flex-grow: 1; 
    font-family: 'Courier New';
    padding: 1rem;
    white-space: pre;
}

.form-waiter {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index:50;
}

.form-waiter > div {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

div.form-control {
    background-color: rgba(0,0,0,0.05);
}

.script-editor-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1050;
    display: none;
}

.script-editor-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    align-content: space-between;
}

.script-editor-toolbar {
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    padding: 1rem;
    justify-content: flex-end;
}

.script-editor-toolbar > * {
    margin: 0.25rem;
}

.datetime {
    color: var(--primary);
}

.daemon-log {
    font-family: 'Ubuntu Mono', 'Consolas', 'Courier New';
}

.daemon-log-line {
    position: relative;
    white-space: pre;
    min-height: 1rem;
}

.daemon-log-line .progress {
    position: absolute;
    left: 0px;
    width: 350px;
    height: 1.1rem;
    margin-top: -1.1rem;
}

.daemon-log-header {
    text-align: center;
    padding: 1rem;
    border: 1px solid #000000;
    text-transform: uppercase;
    margin: 1rem 0rem;
}

.daemon-log-line hr {
    display: inline-block;
    width: 100%;
    background-color: #000000;
    margin: 1rem 0rem;
    padding: 0px;
    line-height: 0px;
}

.daemon-log-btn-top {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

tr.schedule-exec-today td {
    background-color: rgba(255, 0, 0, 0.125);
}

.statistics-table-right {
    position: absolute;
    width: calc(100% - 800px);
    top: 1rem;
    right: 2.5rem;
}

.statistics-table-chart {
    height: 270px;
}

.statistics-chart-panel {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.dropdown-menu-sub {
    position: relative;
    cursor: pointer;
}

.dropdown-menu-sub > div:first-child > span {
    display: inline-block;
    width: 100%;
}

.dropdown-menu-sub > div:first-child::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.dropdown-menu-sub .dropdown-menu {
    position: absolute;
    top: -0.5rem;
    left: calc(100% - 0.5rem);
    display: none;
    transition-duration: 0.5s;
}

.dropdown-menu-sub:hover .dropdown-menu {
    display: inline-block;
}

select.select-tree {
    font-family: monospace;
    white-space: pre;
}

select.select-tree option {
    white-space: pre;
}

.blueprint {
    background-color: #001484;
}


@media(max-width: 768px) {
    #sizeMainMenu {
        display: none;
    }
    
    .btn .btn-label {
        display: none;
    }
    
    .navbar-down-menu {
        min-width: auto!important;
        flex-grow: 1;
    }
    
    .main-menu .navbar {
        align-items: flex-start;
        height: 58px;
        position: relative;
    }
    
    .main-menu .navbar-with-tabs {
        height: 99px;
    }
    
    .navbar-top-menu {
        position: fixed;
        left: 56px!important;
        top: 43px;
    }
    
    /* Plan */
    #planParts {
        display: none;
    }
    
    #planPartsCompact {
        display: inline-block!important;
        width: 100%;
    }
    
    /* Hubs */
    #hubsList {
        display: none;
    }
    
    /* Scripts */
    #scriptList {
        width: 100%!important;
    }
    
    #scriptViewerPanel {
        display: none;
    }
    
    /* History */
    #historyFilter {
        display: none;
    }
    
    #jurnalHistoryFiltrPanel {
        width: 100%!important;
        margin: 0px!important;
        padding: 0px!important;
    }
    
    #historyList {
        width: 100%!important;
    }
    
    #historyBody {
        display: none;
    }
    
    /* Daemons */
    #daemonsList {
        width: 100%!important;
    }
    
    #daemonViewer {
        display: none!important;
    }
}