.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.05);
    #box-shadow: 0 0 10px rgba(0,0,0,0.35);
    z-index: 1;
}

.navbar .btn {
    margin: 0;
    margin-right: 0.25rem;
}

.navbar .logo {
    display: inline-block;
    font-weight: bold;
    font-size: 170%;
    width: 230px;
    height: 3rem;
    text-align: center;
    margin-left: -1rem;
    line-height: 3rem;
}

.navbar-down-menu {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.navbar-top-menu-tab {
    margin-bottom: -1.5rem; 
    border-bottom: 1px solid #ffffff;
}

.navbar-top-menu-tab .nav-link.active {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 0px;
}

.navbar-page {
    background-color: #ffffff;
    z-index: auto;
}

.navbar-page-group {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 0px 1rem;
}

.navbar-page-group * {
    margin-right: 1rem;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.main-left-panel {
    display: flex;
    flex-direction: column;
    width: 230px;
    min-width: 230px;
    #box-shadow: 0 0 10px rgba(0,0,0,0.35);
    background-color: rgba(0,0,0,0.05);
}

.main-left-panel-container {
    flex-grow: 1;
    border-right: 1px solid rgba(0,0,0,.125);
    overflow-x: hidden; 
    overflow-y: auto;
}


.main-left-panel-container > .list-group {
    margin-right: -1px;
}

.main-left-panel-container .label {
    flex-grow: 1;
    text-aligh: left;
    margin-left: 1rem;
}

.body-content-log {
    width: 370px;
    min-width: 370px;
    border-left: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
    padding: 0.5rem 1rem;
    
}

.main-content {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.main-content .content-body {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.table {
    display: inline-table;
    margin: 1rem;
    width: auto;
}

.table.table-scroll-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top: 1rem solid #ffffff;
    margin-top: 0px;
}

.table thead {
    background-color: #ffffff;
}

.table thead tr {
    background-color: rgba(0, 0, 0, 0.05);
}

.table thead th,
.table tbody th {
    text-align: center;
    padding: 0px;
    line-height: 1.2rem;
    vertical-align: middle;
    margin: 0.5rem;
}

.table thead th {
    border-bottom-width: 1px;
}

.table thead th > span {
    display: block;
    padding: 0.5rem;
}

.table td {
    text-align: center;
    padding: 0.5rem;
    line-height: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
}

.table td a {
    margin-top: -0.4rem;
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.table td.nowrap {
    white-space: nowrap;
}

tr.table-empty {
    
}

tr.table-empty td {
    cursor: default;
    padding: 1.5rem;
    font-weight: bold;
}

tr.table-empty:hover td {
    background-color: #ffffff;
}

.row-with-events td {
    background-color: rgba(255, 255, 0, 0.125);
}

.row-with-ow-lost td {
    background-color: rgba(0, 0, 0, 0.125);
}

.main-right-panel {
    overflow: hidden;
}

.log-row {
    display: flex;
    flex-direction: row;
}

.log-time {
    padding-right: 0.25rem;
}

.log-text {
    
}

.tree {
    background-color: #ffffff!important;
    overflow: auto;
    padding: 1rem;
}

.tree-item {
    display: flex;
    align-items: center;
    padding: 0.45rem 0.25rem;
    border-radius: 5px;
    color: #212529;
    padding-left: 1rem;
    padding-bottom: 0.55rem;
    line-height: 1.1rem;
    justify-content: space-between;
}

.tree-item:hover {
    background-color: rgba(0,0,0,0.075);
    text-decoration: none;
}

.tree-item.active {
    background-color: rgba(0, 0, 0, 0.15);
    color: #000000;
}

.code-keyword {
    font-weight: bold;
    color: #0000ff;
}

.dropdown-menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.list-group-item.active .badge-pill {
    border: 1.5px solid #ffffff;
    margin-right: -1.5px;
}

.tree-item .badge-pill {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.plan-parts-content {
    position: relative;
    display: inline-block;
}

.plan-part {
    position: absolute;
    display: inline-block;
    border: 1px solid #000000;
    background-color: #eeeeee;
    cursor: pointer;
}

.plan-part:hover {
    background-color: #dddddd!important;
}

.plan-device {
    position: absolute;
    display: inline-block;
    border: 1px solid #000000;
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

option:disabled {
    color: #dddddd;
}

.content-body.codeedit {
    display: flex; 
    padding: 0;
}

.codeedit .numbers {
    width: 60px;
    border-right: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0,0,0,0.0125);
    padding: 1rem;
    padding-right: 0.5rem;
    text-align: right;
    font-family: 'Courier New';
}

.codeedit .codetext {
    flex-grow: 1; 
    font-family: 'Courier New';
    padding: 1rem;
    white-space: pre;
}

.form-waiter {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index:50;
}

.form-waiter > div {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

div.form-control {
    background-color: rgba(0,0,0,0.05);
}

.script-editor-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1050;
    display: none;
}

.script-editor-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    align-content: space-between;
}

.script-editor-toolbar {
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    padding: 1rem;
    justify-content: flex-end;
}

.script-editor-toolbar > * {
    margin: 0.25rem;
}

.datetime {
    color: var(--primary);
}

.demon-log {
    font-family: 'Ubuntu Mono', 'Consolas', 'Courier New';
}

.demon-log-line {
    white-space: pre;
    min-height: 1rem;
}

.demon-log-header {
    text-align: center;
    padding: 1rem;
    border: 1px solid #000000;
    text-transform: uppercase;
    margin: 1rem 0rem;
}

.demon-log-line hr {
    display: inline-block;
    width: 100%;
    background-color: #000000;
    margin: 1rem 0rem;
    padding: 0px;
    line-height: 0px;
}

.demon-log-btn-top {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

tr.schedule-exec-today td {
    background-color: rgba(255, 0, 0, 0.125);
}

.statistics-table-right {
    position: absolute;
    width: calc(100% - 800px);
    top: 1rem;
    right: 2.5rem;
}

.statistics-table-chart {
    height: 270px;
}

.statistics-chart-panel {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}