body {
    font-size: 16px;
    font-family: 'Arial';
    min-height: 100vh;
}

.body-page-main {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    min-height: 100vh;
    width: 100%;
}

.body-page-main::-webkit-scrollbar {
    display: none;
}

.body-page-left,
.body-page-center,
.body-page-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1rem;
    opacity: 0;
}

.body-page-lock {
    background-color: #000000;
}

.body-page-lock div {
    opacity: 0;
}

.body-page-left,
.body-page-right {
    align-items: center;
}

.body-page-left {
    border-right: 1px solid rgba(0,0,0,.125);
}

.body-page-right {
    border-left: 1px solid rgba(0,0,0,.125);
}

.body-page-lock.body-page-left {
    border-right: none;
}

.body-page-lock.body-page-right {
    border-left: none;
}

.btn-outline-primary:active,
.btn-outline-primary:hover {
    background-color: #ffffff!important;
}

#dummyNav {
    display: none;
}

.fixed-nav nav {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.fixed-nav nav .row {
    display: flex;
    padding: 0.75rem 2rem;
}

.fixed-nav #dummyNav {
    display: block;
}

.fixed-nav-offset nav > ol {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    border-radius: 0px;
    transition-duration: 0.25s;
}

.main-column {
    
}

@media(max-width: 575px) {
    .main-column {
        margin: 0 -0.95rem;
    }
    
}

.main-item {
    display: flex;
}

.main-item a {
    flex-grow: 1;
}

.main-item-value {
    padding-right: 0.5rem;
}

.room-item {
    display: flex;
}

.room-item-name {
    flex-grow: 1;
    display: flex;
    line-height: 1.25rem;
    padding: 0.2rem 0px;
}

.room-item-name a {
    flex-grow: 1;
}

.room-text-value {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.room-item-variable-value {
    font-size: 1.5rem;
    display: block;
    margin: -3rem 0px;
}

.room-item-variable-value {
    display: block;
}

.room-range {
    padding-top: 0.75rem;
}

.variable-chart {
    margin: -1rem;
    margin-top: 0px;
    #margin-right: -1.5rem;
}

.variable-3-body {
    
}

.variable-3-body .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.variable-3-body .card-body {
    display: flex;
    flex-direction: column;
    width: 40rem; 
    max-width: 100%;
    align-items: stretch;
    height: 20rem;
    max-height: calc(100vh - 5rem);
}

.variable-3-value {
    text-align: center;
}

.variable-3-value-body {
    flex-grow: 1; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.variable-3-value-body-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.variable-3-value-body2 {
    display: flex;
    widows: 100%;
}

.variable-3-value-text {
    font-size: 7rem;
}

.variable-3-value-dimension {
    font-size: 2rem;
}

.checked-edit-item {
    display: flex;
    flex-direction: row;
}

.checked-edit-item-label {
    flex-grow: 1;
}

.checked-edit-item-edit {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

.checked-edit-item-edit-del {
    display: none;
}

.del > .checked-edit-item-edit-del {
    display: block;
}

.checked-edit-item-edit-add {
    display: block;
}

.del > .checked-edit-item-edit-add {
    display: none;
}

.checked-edit-item-order-up.disabled,
.checked-edit-item-order-down.disabled {
    opacity: 0;
}

.checked-edit-color-panel {
    display: flex;
    margin-bottom: 1rem;
}

.checked-edit-color-panel > div {
    display: flex;
}

.checked-edit-color-panel > div > a {
    flex-grow: 1;
}

.checked-edit-color-list .list-group-item {
    display: flex;
}

.checked-edit-color-list .list-group-item > div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

@media(max-width: 575px) {
    .checked-edit-color-panel {
        flex-direction: column;
    }
    
    .checked-edit-color-panel > input {
        margin-bottom: 0.5rem;
    }
    
    .checked-edit-color-list .list-group-item > div {
        flex-direction: column;
    }
}

.video-list-view {
    margin: 0 -15px;
    margin-top: 2rem;
    background-color: #ffffff;
    text-align: center;
}

.video-list-title {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    padding: 0.25rem 2.25rem;
}

@media(max-width: 575px) {
    .video-list-title {
        padding: 0.25rem 1rem;
    }
}

.video-list {
    display: inline-block;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    padding: 0 calc((100vw - 340px) / 2);
}

.video-list-item {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    width: 320px;
    height: 200px;
}

.video-list-item-content {
    width: 100%;
    height: 100%;
}

@media(min-width: 992px) {
    .body-page-main {
        overflow: hidden;
    }
    
    .video-list {
        padding: 0 5px;
    }
    
    .video-list-item {
        padding: 10px 5px;
    }
}
