.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 100vh;
}

.main-left-panel {
    width: 200px;
    border-right: 1px solid rgba(0,0,0,.125);
}

.main-left-panel > .list-group {
    margin-right: -1px;
}

.main-content {
    flex-grow: 1;
}

.main-content > div {
    padding: 1rem;
}

.table {
    width: auto;
}

.table thead tr {
    background-color: rgba(0, 0, 0, 0.05);
}

.table th {
    text-align: center;
    padding: 0.5rem;
}

.table td {
    text-align: center;
    padding: 0.5rem;
}

.table td a {
    margin-top: -0.3rem;
    margin-bottom: -0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}