.strong {
    font-weight: bold;
}

.modal-body .row {
    margin-bottom: 1rem;
}

.form-label::after {
    content: ':';
}

@media(min-width: 576px) {
    .form-label {
        display: flex;
        width: 100%;
        padding-top: 0.35rem;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
}